/* .cardTxt{
    color: black;
    font-size: 20px;
}

.cardTxtTitle{
    color: black;
    font-size: 40px;
}

.cardTxtBox{
    background-color: rgb(243, 237, 149);
    padding: 20px;
    width: auto;
    border-radius: 20px;
    width: max-content;
    border: thick double #080808;
} */

.image{
    height: 250px;
    width: 250px;
    padding: 5px;
    background-position: center;
    background-size: contain;
    margin: auto;
}