.cardImg{
    height: 250px;
    width: 250px;
    padding: 5px;
    background-position: center;
    object-fit: cover;
    margin: auto;
}
.cardBody{
    padding: 20px;
}
.cardDesc p{
    height: 75px;
    overflow-x: hidden;
}
.cardLine{
    border-top: 3px solid #bbb;
}