.notFoundBody{
    background-image: url(https://firebasestorage.googleapis.com/v0/b/proyectofinal-perren.appspot.com/o/Logo404_nofondo.png?alt=media&token=d290944b-5ab5-4ae3-830a-c9528592da58);
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    height: 800px;
}